<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
</head>
<body>
    <h1>Uživatelské nastavení</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.min_message.label }}<br>
            {{ form.min_message(size=32) }}
        </p>
        <p>
            {{ form.min_rating.label }}<br>
            {{ form.min_rating(size=32) }}
        </p>
        <p>
            {{ form.buy.label }}<br>
            {{ form.buy(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>