<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
</head>
<body>
    {% include 'nav.html' %}
    <h1>Uživatelské nastavení</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.min_news.label }}<br>
            {{ form.min_news(size=32) }}
        </p>
        <p>
            {{ form.min_score.label }}<br>
            {{ form.min_score(size=32) }}
        </p>
         <p>
            {{ form.days_back.label }}<br>
            {{ form.days_back(size=32) }}
        </p>
        <p>
            {{ form.buy.label }}<br>
            {{ form.buy(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>